/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    width: 870px;
    padding: 30px;
}

/* Top Players Style */
.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: -3px;
    margin-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}